@import "tailwindcss";
/* @import 'tw-animate-css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
:root {
  --background: oklch(0.98 0.01 15);
  --foreground: oklch(0.3 0.02 15);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.3 0.02 15);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.3 0.02 15);
  --primary: oklch(0.35 0.15 15);
  --primary-foreground: oklch(0.98 0.01 15);
  --secondary: oklch(0.45 0.2 15);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.95 0.01 15);
  --muted-foreground: oklch(0.5 0.02 15);
  --accent: oklch(0.45 0.2 15);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.9 0.01 15);
  --input: oklch(0.95 0.01 15);
  --ring: oklch(0.35 0.15 15);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.5rem;
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.3 0.02 15);
  --sidebar-primary: oklch(0.35 0.15 15);
  --sidebar-primary-foreground: oklch(0.98 0.01 15);
  --sidebar-accent: oklch(0.45 0.2 15);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.9 0.01 15);
  --sidebar-ring: oklch(0.35 0.15 15);
}

@theme {
  --font-poppins: "Poppins", sans-serif;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

/** TEXT STYLES **/

.text-accent-foreground {
  color: var(--accent-foreground);
}
.text-card-foreground {
  color: var(--card-foreground);
}
.text-current {
  color: currentcolor;
}
.text-destructive {
  color: var(--destructive);
}
.text-destructive-foreground {
  color: var(--destructive-foreground);
}
.text-foreground {
  color: var(--foreground);
}
.text-foreground\/50 {
  color: var(--foreground);
  @supports (color: color-mix(in lab, red, red)) {
    color: color-mix(in oklab, var(--foreground) 50%, transparent);
  }
}
.text-gray-300 {
  color: var(--color-gray-300);
}
.text-gray-400 {
  color: var(--color-gray-400);
}
.text-muted-foreground {
  color: var(--muted-foreground);
}
.text-popover-foreground {
  color: var(--popover-foreground);
}
.text-primary {
  color: var(--primary);
}
.text-primary-foreground {
  color: var(--primary-foreground);
}
.text-red-500 {
  color: var(--color-red-500);
}
.text-red-700 {
  color: var(--color-red-700);
}
.text-secondary-foreground {
  color: var(--secondary-foreground);
}
.text-sidebar-foreground {
  color: var(--sidebar-foreground);
}
.text-sidebar-foreground\/70 {
  color: var(--sidebar-foreground);
  @supports (color: color-mix(in lab, red, red)) {
    color: color-mix(in oklab, var(--sidebar-foreground) 70%, transparent);
  }
}
.text-white {
  color: var(--color-white);
}
.text-yellow-400 {
  color: var(--color-yellow-400);
}

/** BG STYLES **/
.bg-\(--color-bg\) {
  background-color: var(--color-bg);
}
.bg-accent {
  background-color: var(--accent);
}
.bg-background {
  background-color: var(--background);
}
.bg-black\/20 {
  background-color: color-mix(in srgb, #000 20%, transparent);
  @supports (color: color-mix(in lab, red, red)) {
    background-color: color-mix(in oklab, var(--color-black) 20%, transparent);
  }
}
.bg-black\/50 {
  background-color: color-mix(in srgb, #000 50%, transparent);
  @supports (color: color-mix(in lab, red, red)) {
    background-color: color-mix(in oklab, var(--color-black) 50%, transparent);
  }
}
.bg-border {
  background-color: var(--border);
}
.bg-card {
  background-color: var(--card);
}
.bg-destructive {
  background-color: var(--destructive);
}
.bg-foreground {
  background-color: var(--foreground);
}
.bg-gray-800 {
  background-color: var(--color-gray-800);
}
.bg-muted {
  background-color: var(--muted);
}
.bg-muted\/50 {
  background-color: var(--muted);
  @supports (color: color-mix(in lab, red, red)) {
    background-color: color-mix(in oklab, var(--muted) 50%, transparent);
  }
}
.bg-popover {
  background-color: var(--popover);
}
.bg-primary {
  background-color: var(--primary);
}
.bg-primary\/20 {
  background-color: var(--primary);
  @supports (color: color-mix(in lab, red, red)) {
    background-color: color-mix(in oklab, var(--primary) 20%, transparent);
  }
}
.bg-red-500 {
  background-color: var(--color-red-500);
}
.bg-red-600 {
  background-color: var(--color-red-600);
}
.bg-secondary {
  background-color: var(--secondary);
}
.bg-secondary\/80 {
  background-color: var(--secondary);
  @supports (color: color-mix(in lab, red, red)) {
    background-color: color-mix(in oklab, var(--secondary) 80%, transparent);
  }
}
.bg-sidebar {
  background-color: var(--sidebar);
}
.bg-sidebar-border {
  background-color: var(--sidebar-border);
}
.bg-transparent {
  background-color: transparent;
}
.bg-white {
  background-color: var(--color-white);
}
